<div class="top-row navbar navbar-dark">
    <NavLink href="/" class="navbar-brand">
        <span class="brand-text font-weight-light">Project Manager</span>
    </NavLink>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass nav-menu-custom" @onclick="ToggleNavMenu">
    <div class="login-display">
        <LoginDisplay />
    </div>
    <RadzenCard>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Trang chủ" Path="/" Icon="home" />
            <RadzenPanelMenuItem Text="Quản lý lớp" Path="/Classs/Index" Icon="class" />
            <RadzenPanelMenuItem Text="Quản lý sinh viên" Path="/Student/Index" Icon="supervisor_account" />
            <RadzenPanelMenuItem Text="Danh sách đồ án" Path="/ProjectList/Index" Icon="receipt" />
        </RadzenPanelMenu>
    </RadzenCard>
</div>

@code { private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    } }
